name: Deploy to DataQA Dev
on:
  workflow_dispatch:
    inputs:
      applyTerraform:
        description: 'Do you want to apply the infra-repo terraform? Possible values [plan/apply].'
        required: true
        default: 'plan'
      Branch:
        description: 'Branch name on which jobs will be executed'
        required: true
        default: 'master'
      TerraformTarget:
        description: 'Terraform Target, please provide resource target name'
        required: true
        default: 'all'

jobs:
  terraform:
    name: setup-envs
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.Branch }}

      - name: Setup infra
        run: |
          ls -la
          pwd
          cd ./data-quality-gate/deployment-example
          echo "TF_DIR=$(pwd)" >> $GITHUB_ENV
          echo "TF_BACKEND_CONFIG=terraform-backend.tfbackend" >> $GITHUB_ENV

      - name: Configure AWS credentials for dev account
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Terraform Install
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.1.7

      - name: Terraform init
        id: init
        run: |
          cd $TF_DIR
          echo $TF_DEPLOY_ENV
          echo $TF_BACKEND_CONFIG
          echo $TF_DEPLOY_ENV/$TF_BACKEND_CONFIG
          terraform init --backend-config=$TF_DEPLOY_ENV/$TF_BACKEND_CONFIG

      - name: Terraform validate
        id: validate
        run: |
          cd $TF_DIR
          terraform validate -no-color

      - name: Terraform plan
        id: plan
        if: ${{ github.event.inputs.applyTerraform == 'plan' }}
        run: |
          cd $TF_DIR
          if [ ${{ github.event.inputs.TerraformTarget }} = "all" ]
          then
          terraform plan --var-file="$TF_DEPLOY_ENV/$TF_ENV_VARIABLES" -input=false
          else terraform plan --var-file="$TF_DEPLOY_ENV/$TF_ENV_VARIABLES" -target=${{ github.event.inputs.TerraformTarget }} -input=false
          fi

      - name: Terraform apply
        id: apply
        if: ${{ github.event.inputs.applyTerraform == 'apply' }}
        run: |
          cd $TF_DIR
          if [ ${{ github.event.inputs.TerraformTarget }} = "all" ]
          then
          terraform apply -auto-approve --var-file="$TF_DEPLOY_ENV/$TF_ENV_VARIABLES"
          else terraform apply -auto-approve --var-file="$TF_DEPLOY_ENV/$TF_ENV_VARIABLES" -target=${{ github.event.inputs.TerraformTarget }}
          fi
          #We should add param to use tfvars for specific env
