name: Deploy to DataQA Dev
on:
  workflow_dispatch:
    inputs:
      applyTerraform:
        description: 'Do you want to apply the infra-repo terraform? Possible values [plan/apply].'
        required: true
        default: 'plan'
      Branch:
        description: 'Branch name on which jobs will be executed'
        required: true
        default: 'master'
      TerraformTarget:
        description: 'Terraform Target, please provide resource target name'
        required: true
        default: 'all'

jobs:
  terraform:
    name: setup-envs
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.Branch }}

      - name: Setup infra
        run: |
          ls -la
          pwd
          cd ./examples/basic
          echo "TF_DIR=$(pwd)" >> $GITHUB_ENV
          echo "TF_BACKEND_CONFIG=terraform-backend.tfbackend" >> $GITHUB_ENV

      - name: Configure AWS credentials for dev account
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: upload SlackNotification to ECR
        uses: appleboy/docker-ecr-action@master
        with:
          access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          registry: ${{ secrets.AWS_ECR_REPO }}
          repo: slack_notification
          region: ${{ secrets.AWS_REGION }}
          dockerfile: functions/slack_notification/Dockerfile
          context: functions/slack_notification

      - name: upload AllureReport to ECR
        uses: appleboy/docker-ecr-action@master
        with:
          access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          registry: ${{ secrets.AWS_ECR_REPO }}
          repo: demo-test-ip-allure-report
          region: ${{ secrets.AWS_REGION }}
          dockerfile: functions/allure_report/Dockerfile
          context: functions/allure_report

      - name: upload DataTest to ECR
        uses: appleboy/docker-ecr-action@master
        with:
          access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          registry: ${{ secrets.AWS_ECR_REPO }}
          repo: demo-test-ip-fast-data
          region: ${{ secrets.AWS_REGION }}
          dockerfile: functions/data_test/Dockerfile
          context: functions/data_test

      - name: upload ReportPush to ECR
        uses: appleboy/docker-ecr-action@master
        with:
          access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          registry: ${{ secrets.AWS_ECR_REPO }}
          repo: demo-test-ip-push-report
          region: ${{ secrets.AWS_REGION }}
          dockerfile: functions/report_push/Dockerfile
          context: functions/report_push

      - name: Terraform Install
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.1.7

      - name: Terraform init
        id: init
        run: |
          cd $TF_DIR
          echo "TF_BACKEND_CONFIG: $TF_BACKEND_CONFIG"
          terraform init --backend-config ./$TF_BACKEND_CONFIG

      - name: Terraform plan
        id: plan
        if: ${{ github.event.inputs.applyTerraform == 'plan' }}
        run: |
          cd $TF_DIR
          if [ ${{ github.event.inputs.TerraformTarget }} = "all" ]
          then
          terraform plan -input=false
          else
          terraform plan -target=${{ github.event.inputs.TerraformTarget }} -input=false
          fi

      - name: Terraform apply
        id: apply
        if: ${{ github.event.inputs.applyTerraform == 'apply' }}
        run: |
          cd $TF_DIR
          if [ ${{ github.event.inputs.TerraformTarget }} = "all" ]
          then
          terraform apply -auto-approve
          else
          terraform apply -auto-approve -target=${{ github.event.inputs.TerraformTarget }}
          fi
